.demo {
  text-align: center;
	font-size: 2vmin;
	background-color: #f2f2f2;
	width: 100vw;
	height: 100vh;
}

.demo-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	background-color: #ffffff;
}
.demo-header img{
	max-width: 100%;
	height: auto;
}
.demo-header .info{
	padding: 10px 0;
	width: 100vw;
	font-weight: bold;
}
.img-auto-width{
	max-width: 100%;
	height: auto;
}
/*4位分割图*/
.icons-content{
	padding: 0;
	margin: 0;
	list-style: none;
	width: 100vw;
	display: flex;
	align-items:baseline ;
	background-color: #ffffff;
}
.icons-content li{
	width: 25vw;
	box-sizing: border-box;
	padding: 10px 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.icons-content li .img-box{
	width: 30px;
	height: 30px;
	margin-bottom: 10px;
}

/*闪购区域*/
.flashsale-box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
}
.flashsale-box h2{
	font-weight: bold;
	font-size: calc(2vmin + 6px);
}